{% set route_name = app.request.attributes.get('_route') %}
{% set route_parameters = app.request.attributes.get('_route_params') %}

{% if subtitle is not defined %}
  {% set subtitle = 'pyramidal_tests_description'|trans %}
{% endif %}

{% set flags = {
  'en': '<span class="fi fi-gb"></span>',
  'es': '<span class="fi fi-es"></span>',
} %}

{% set lang_items = {
  'en': '<span class="fi fi-gb"></span> English',
  'es': '<span class="fi fi-es"></span> Español',
} %}

{% set google_analytics_id = app.request.server.get('GOOGLE_ANALYTICS_ID') %}

<!doctype html>
<html lang="{{ route_parameters._locale }}" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}PyramidalTests | {{ subtitle }}{% endblock %}</title>

    {% if google_analytics_id is not empty %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_id }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ google_analytics_id }}');
      </script>
    {% endif %}

    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('assets/css/monokai-gravity.css') }}">
      <link rel="stylesheet" href="{{ asset('node_modules/flag-icons/css/flag-icons.min.css') }}">
      <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
    {% endblock %}
  </head>
  <body class="d-flex flex-column h-100">
    {% include "includes/header.html.twig" %}

    <div class="container">
      <div class="row">
        <div class="col">
        </div>
      </div>
    </div>

    <main class="flex-shrink-0">
      {% block content %}{% endblock %}
    </main>

    {% include "includes/footer.html.twig" %}

    {% block javascripts %}
      <script src="{{ asset('assets/vendor/highlight/highlight.min.js') }}"></script>
      <script>
        hljs.highlightAll();
      </script>
      <script type="module" src="{{ asset('assets/js/scripts.js') }}"></script>
    {% endblock %}
  </body>
</html>
